:root {
  font-size: 62.5%;

  --primary: #2a5c9a;
  --primary-dark: #1e3e6e;
  --accent: #f5a623;
  --accent-hover: #e09612;
  --gray-100: #f8fafc;
  --gray-200: #e0e0e0;
  --gray-300: #cbd5e1;
  --gray-800: #1e293b;
  --shadow:
    0 15px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.02);
  --shadow-lg: 0 20px 25px -12px rgba(0, 0, 0, 0.1);
  --danger: #dc2626;
  --danger-light: #fee2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #1e293b;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  font-size: inherit;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;

  padding: 14px 44px;

  font-size: 1.6rem;

  .logo {
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    b {
      color: var(--accent);
    }
  }

  nav {
    white-space: nowrap;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 24px;
      gap: 14px;
    }
  }

  .contacts {
    white-space: nowrap;

    display: flex;
    align-items: center;

    li {
      a {
        display: flex;
        align-items: center;
        margin: 0 5px;
        fill: var(--primary);
      }

      a[href^="tel:"] {
        margin-right: 10px;
        fill: var(--accent);
      }

      button {
        white-space: wrap;
        margin-left: 10px;

        background-color: var(--accent);
        color: var(--primary-dark);
        font-weight: bold;
        padding: 8px 14px;
        border-radius: 24px;
      }
    }

    .wrapper {
      display: contents;
    }
  }
}

.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 220px;
  background-image: url("/static/rain&house-no-contrast-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 60px;

  h1 {
    font-size: 3rem;
    margin-bottom: 16px;
    width: min(100%, 650px);
  }

  p {
    font-size: 1.9rem;
    margin-bottom: 32px;
    width: min(100%, 650px);

    b {
      color: var(--accent);
    }
  }

  button {
    font-size: 1.5rem;
    background-color: var(--accent);
    color: var(--primary-dark);
    padding: 12px 24px;
    border-radius: 24px;
    font-weight: bold;
  }
}

section {
  margin: 0 auto;
  padding: 70px 24px;

}

@media (max-width: 768px) {
  header {

    nav,
    .contacts {
      display: none;
    }

    nav[open],
    .contacts[open] {
      display: flex;
    }

    nav ul {
      flex-direction: column;
      width: 100%;
    }

    .contacts {
      order: 4;
      width: 100%;
      margin-top: 18px;
      flex-direction: column;
      gap: 5px;

      .wrapper {
        display: flex;
      }
    }

    .burger {
      display: block;
    }
  }
}


@media (max-width: 1180px) {
  header {
    font-size: 1.4rem;
    padding: 10px 20px;
    flex-wrap: wrap;

    nav {
      order: 3;
      margin-top: 10px;
      width: 100%;
    }
  }

  .hero {
    padding-bottom: 160px;

  }

  section {
    scroll-margin-top: 0;
  }
}

section {
  scroll-margin-top: 50px;
}